<div class="container">
  <h1>PokeBattle Simulator</h1>
  <div class="row">
    <%= render template: 'pokemons/index'%>
  </div>
  <div class="row">
      <%= render template: 'simulation/index'%>
  </div>
</div>
