/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
* vendor/assets/stylesheets directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
* files in this directory. Styles in this file should be added after the last require_* statement.
* It is generally better to create a new file per style scope.
*
// require pages/common
// require jquery-ui
// require_self
// require_tree ../../../vendor/assets/stylesheets/utilities/
*/
@import "bootstrap";
@import "variables";
@import "utilities/u-align";
@import "utilities/u-divider";
@import "utilities/u-float";
@import "utilities/u-fontSize";
@import "utilities/u-link";
@import "utilities/u-margin";
@import "utilities/u-outerWrapper";
@import "utilities/u-padding";
@import "utilities/u-textAlign";

.mynav{
  height: 50px;
  width: 100%;
  background-color: $mainColor;
  margin-bottom: 20px;
  border-bottom: 1px solid grey;
  &-content{
    background-color: $fithColor;
    float: left;
    margin: 10px 0px 0px 0px;
    padding: 10px 15px 4px 15px;
    border: 1px solid grey;
    border-radius: 5px 5px 0px 0px;
    border-bottom: 1px solid $fithColor;
    color: white !important;
    &:hover{
      background-color: $forthColor;
      border-bottom: 1px solid $forthColor;
      color: #1a1a1a;
      font-style: oblique;
    }
  }
  &-title{
    color: $forthColor;
    font-size: 35px;
    font-family: fantasy;
    margin: 8px 0px 0px 35px;
  }
}

.error-message{
  color: red;
  &-hidden{
    visibility: hidden;
    height: 0px;
    margin: 0px 0px 0px 0px;
  }
}

body {
  background-color: $fithColor !important;
}
