<div class="mynav">
    <a href="/"><span class="mynav-content">Home</span></a>
    <a href="/pokemons/new"><span class="mynav-content">Create a Pokemon</span></a>
    <a href="/pokemon_species"><span class="mynav-content">Register New Species</span></a>
    <a href="/attacks"><span class="mynav-content">Register New Attack</span></a>
    <label class="mynav-title">Poke Battle Simulator</label>
</div>
