<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <a href="/">Home</a>
    <a href="/pokemons/new">Create a Pokemon</a>
    <a href="/pokemon_species">Register New Species</a>
    <a href="/attacks/new">Register New Attack</a>
  </div>
</nav>
