<div class="mynav">
    <span class="mynav-content"><a href="/">Home</a></span>
    <span class="mynav-content"><a href="/pokemons/new">Create a Pokemon</a></span>
    <span class="mynav-content"><a href="/pokemon_species">Register New Species</a></span>
    <span class="mynav-content"><a href="/attacks/new">Register New Attack</a></span>
    <label class="mynav-title">Poke Battle Simulator</label>
</div>
